.cabecalho__container{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 32px;
}

.logo{
    width: 145px;
    height: 56px;
  
}

.input__cabecalho{
    width: 752px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    margin: 0 206px 0 167px;
}

.input__cabecalho:hover{
    background: rgba(255, 255, 255, 0.24);
}

.input__cabecalho::placeholder{
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    font-size: 16px;
    padding-left: 14px; ;
}

.div__cabecalho__container{
    color: #ffff;
    display: flex;
    align-items: center;
  
}

.icon__foto{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.itens-menu-mobile {
    display: none;
    width: 245px;
    height: 571px;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: rgba(45, 65, 91, 1);
    border-radius: 8px;
    
  }

hr{
    width: 206px;
    opacity: 0.08;
}

.mobile__nav__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px;
}

.icon__foto__mobile{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 12px;
}

.icon__nome__mobile{
    padding-left: 7px;
}

.menuHamburguer,
.lupaPesquisa {
    display: none;
}

@media screen and (max-width: 768px){
    .cabecalho__container{
        display: flex;
        justify-content: space-between;
    }

    .lupaPesquisa{
        display: block; 
    }

    .menuHamburguer{
        display: block;
        margin-left: 36px;
    }

    .icon__foto,
    .icon__nome,
    .input__cabecalho{
        display: none;
    }

    .itens-menu-mobile{
        position: absolute;
        margin: 40em 0 0 5.6em;
    }
}